<span>
	<TABLE border="0" cellspacing="0" cellpadding="0" summary="">
		<TR>
			<TD>
				<input class="dojoValidateValid" name="${this.name}" type="text" dojoType="UrlTextbox" dojoAttachPoint="inputHyperLinkNode" autocomplete="off" value="${this.value}" />
			</TD>
			<TD>
				<TABLE class="SmallButton">
				  <TR>
					<TD class="SmallButton_bg">
						<IMG class="SmallButton_Icon SmallButton_HyperLink" src="${dojoRoot}src/widget/templates/images/blank.gif" border="0" dojoAttachEvent="onclick:onIconClick" dojoAttachPoint="buttonHyperLinkNode"></IMG>
					</TD>
				  </TR>
				</TABLE>
			</TD>
		</TR>
	</TABLE>
</span>
