<div style="text-align:center;">
  <TABLE CELLPADDING="0" CELLSPACING="0" BORDER="0" id="${this.widgetId}" class="MessageBox${this.type}" dojoAttachPoint="messageNode">
    <TR>
      <TD style="text-align: left;"><img class="MessageBoxCorner1" src="${dojoRoot}src/widget/templates/images/blank.gif" dojoAttachPoint="corner1Node"></TD>
      <TD colspan="2"></TD>
      <TD style="text-align: right;"><img class="MessageBoxCorner2" src="${dojoRoot}src/widget/templates/images/blank.gif" dojoAttachPoint="corner2Node"></TD>
    </TR>
    <TR>
      <TD></TD>
      <TD><img class="MessageBoxImage" src="${dojoRoot}src/widget/templates/images/blank.gif" dojoAttachPoint="imageNode"></TD>
      <TD dojoAttachPoint="containerNode"></TD>
    </TR>
    <TR>
      <TD style="text-align: left;"><img class="MessageBoxCorner3" src="${dojoRoot}src/widget/templates/images/blank.gif" dojoAttachPoint="corner3Node"></TD>
      <TD colspan="2"></TD>
      <TD style="text-align: right;"><img class="MessageBoxCorner4" src="${dojoRoot}src/widget/templates/images/blank.gif" dojoAttachPoint="corner4Node"></TD>
    </TR>
  </TABLE>
</div>
