.dojoValidateEmpty{
	background-color: Aqua;
}
.dojoValidateValid{
	background-color: #98FB98;
}
.dojoValidateInvalid{
    background-color: Window !important;
	color: Red;
}
.dojoValidateRange{
   background-color: Window !important;
}
