
* {
  font-family: verdana, sans-serif;
  font-size: 11px;
}

body {
  font-family: verdana, sans-serif; font-size: 10pt;
  background: transparent url("back.gif") repeat-x scroll 0% 0%;
  background: #EEEEEE;
  margin: 0px;
}

.main_page { 
	background-color:#FFFFFF;
	position:absolute;
	width:100%;
}

.sub_top_page {
	height:34px;
	width:100%;
	background-attachment: scroll;
	background-position: center top;
	background-repeat: repeat-x;
	background-image: url("roundItemFill.rollover_.png");
	border: none 0px; 
}

.sections_menu {
  float: left;
  margin: 6px 0px 0px 15px;
  width:100%;
  background: transparent; 
}

.sections_menu .active {
  float: left;
  margin-right: 1px;
}

.sections_menu .active td.TabLeft {
  width: 10px;
  height: 28px;
  background: transparent url(tab-menu-left-on.png) no-repeat scroll 100% 0%;
}
 
.sections_menu .active td.TabBody {
  height: 28px;
  width: auto;
  background: transparent url(tab-menu-body-on.png) repeat-x scroll 100% 0%;
  display: block;
  font-family: tahoma, sans-serif; font-size: 13px;
  font-weight: bold;
  color: navy;
  text-decoration: none;
  text-align: center;
  vertical-align:middle;
  line-height: 28px; 
}

.sections_menu .active td.TabRight {
  height: 28px;
  width: 10px;
  background: transparent url(tab-menu-right-on.png) no-repeat scroll 100% 0%;
}

.sections_menu .inactive {
  float: left;
  margin-right: 1px;
}

.sections_menu .inactive td.TabLeft {
  width: 10px;
  height: 28px;
  background: transparent url(tab-menu-left-off.png) no-repeat scroll 100% 0%;
}
 
.sections_menu .inactive td.TabBody {
  width: auto;
  height: 28px;
  background: transparent url(tab-menu-body-off.png) repeat-x scroll 100% 0%;
  display: block;
  font-family: tahoma, sans-serif; font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  vertical-align:middle; 
  text-decoration: none;
  text-align: center;
  line-height: 28px; 
}

.sections_menu .inactive td.TabRight {
  width: 10px;
  height: 28px;
  background: transparent url(tab-menu-right-off.png) no-repeat scroll 100% 0%;
}

.sections_menu .inactive:hover {
  float: left;
  margin-right: 1px;
  cursor: pointer;
}

.sections_menu .inactive:hover td.TabLeft {
  height: 28px;
  background: transparent url("tab-menu-left-off-over.png") no-repeat scroll 100% 0%;
}

.sections_menu .inactive:hover td.TabBody {
  width: auto;
  height: 28px;
  background: transparent url(tab-menu-body-off-over.png) repeat-x scroll 100% 0%;
  color: #000000;
}

.sections_menu .inactive:hover td.TabRight {
  width: 10px;
  height: 28px;
  background: transparent url(tab-menu-right-off-over.png) no-repeat scroll 100% 0%;
}


.wButton_width {
 width: auto;
}

a.wButtonLink, a.wButtonLink:active, a.wButtonLink:hover, a.wButtonLink:visited, a.wButtonLink:link {
 text-decoration: none;
}

a.wButtonLink_hover, a.wButtonLink_hover:active, a.wButtonLink_hover:hover, a.wButtonLink_hover:visited, a.wButtonLink_hover:link {
 text-decoration: none;
}

a.wButtonLink_active, a.wButtonLink_active:active, a.wButtonLink_active:hover, a.wButtonLink_active:visited, a.wButtonLink_active:link {
 text-decoration: none;
}

a.wButtonLink .wButton, .wButton {
 border-collapse: collapse;
 font-family: tahoma, arial, helvetica, sans-serif;
 font-size: 8pt;
 color: #1b4106;
 font-weight: bold;
 CURSOR: pointer;
}

a.wButtonLink table.wButton .wButton_left, table.wButton .wButton_left {
 width: 10px;
 height: 28px;
 background: url(buttonLeft.normal.png) no-repeat center right;
 text-align: right;
 vertical-align: top;
}

a.wButtonLink table.wButton .wButton_text, table.wButton .wButton_text {
 background: url(buttonBody.normal.png) repeat-x center;
 text-align: center;
 height: 28px;
 font-family: tahoma, arial, helvetica, sans-serif;
 font-size: 8pt;
 font-weight: bold;
 text-align: center;
}

a.wButtonLink table.wButton .wButton_right, table.wButton .wButton_right {
 width: 10px;
 height: 28px;
 background: url(buttonRight.normal.png) no-repeat center left;
}

a.wButtonLink_hover .wButton, .wButton_hover {
 border-collapse: collapse;
 text-align: center;
 font-family: tahoma, arial, helvetica, sans-serif;
 font-size: 8pt;
 height: 28px;
 color: #1b4106;
 font-weight: bold;
 CURSOR: pointer;
}

a.wButtonLink_hover table.wButton .wButton_left, table.wButton_hover .wButton_left {
 background: url(buttonLeft.rollover.png) no-repeat center right;
 width: 10px;
 height: 28px;
}

a.wButtonLink_hover table.wButton .wButton_text, table.wButton_hover .wButton_text {
 text-align: center;
 height: 28px;
 background: url(buttonBody.rollover.png) repeat-x center center;
 font-family: tahoma, arial, helvetica, sans-serif;
 font-size: 8pt;
 font-weight: bold;
 text-align: center;
}

a.wButtonLink_hover table.wButton .wButton_right, table.wButton_hover .wButton_right {
 background: url(buttonRight.rollover.png) no-repeat center left;
 width: 10px;
 height: 28px;
}

a.wButtonLink_active .wButton, .wButton_active {
 border-collapse: collapse;
 text-align: center;
 font-family: tahoma, arial, helvetica, sans-serif;
 font-size: 8pt;
 color: #eaf7e4;
 font-weight: bold;
 CURSOR: pointer;
}

a.wButtonLink_active table.wButton .wButton_left, .wButton_active .wButton_left {
 background: url(buttonLeft.pressed.png) no-repeat center right;
 width: 10px;
 height: 28px;
}

a.wButtonLink_active table.wButton .wButton_text, table.wButton_active .wButton_text {
 text-align: center;
 height: 28px;
 background: url(buttonBody.pressed.png) repeat-x center center;
 font-family: tahoma, arial, helvetica, sans-serif;
 font-size: 8pt;
 font-weight: bold;
 text-align: center;
}

a.wButtonLink_active table.wButton .wButton_right, table.wButton_active .wButton_right {
 background: url(buttonRight.pressed.png) no-repeat center left;
 width: 10px;
 height: 28px;
}

/* Overlay */
#modalOverlay {background-color:#000; cursor:wait;}

/* Container */

#modalContainer {max-height:560px; overflow:auto; width:auto; height: auto; top:10%; left:30%; margin-left:-100px; background-color: #E8E8E8; border: outset 4px; padding: 3px;}
#modalContainer a.modalCloseImg {background:url(basic-x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer;}
#modalContainer #basicModalContent {padding:8px;}
