.dojoHtmlCheckbox {
	border: 0px;
	width: 16px;
	height: 16px;
	margin: 2px;
	vertical-align: middle;
}

.dojoHtmlCheckboxOn {
	background: url(check.png) 0px 0px;
}
.dojoHtmlCheckboxOff {
	background: url(check.png) -16px 0px;
}
.dojoHtmlCheckboxDisabledOn {
	background: url(check.png) -32px 0px;
}
.dojoHtmlCheckboxDisabledOff {
	background: url(check.png) -48px 0px;
}
.dojoHtmlCheckboxOnHover {
	background: url(check.png) -64px 0px;
}
.dojoHtmlCheckboxOffHover {
	background: url(check.png) -80px 0px;
}
